# --- CP Extension : CPH Judge ---

*.cph
*.prob

# --- VS Code ---
.vscode

# --- Other ---

# cpp files/folder for testing n running
test*
foo*
bar*

# md files
notes.md

# --- JAVA ---

*.class

# --- C / CPP ---

*.c
*.exe
